
<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <h2 class="services-header-title">Data management en data engineering</h2>
                <p class="services-desc">Data krijgt een steeds prominenter plaats bij het nemen van beslissing en het oplossen van complexe vraagstukken.
                Hierbij is het essentieel dat de data betrouwbaar is vertaald wordt naar bruikbare informatie.
                Hebt u waardevolle data in uw organisatie of project en wilt u daar meer uithalen of uw data workflows efficienter en betrouwbaarder maken?
                Data2day biedt diensten om u hierover te adviseren en hierbij te helpen.</p><hr>
            </div>
        </div>


        <!-- Begin Services Row 1 -->
        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-lightbulb fa-5x"></span></p>
                    <h4 class="services-title">Data advisering</h4>
                    <p class="services-body">Geintegreerde advisering over data in uw organisatie of project.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-database fa-5x"></i></p>
                    <h4 class="services-title">Data management</h4>
                    <p class="services-body">Advisering over data en workflow management van bron tot gebruiker.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-gears fa-5x"></i></p>
                    <h4 class="services-title">Data engineering</h4>
                    <p class="services-body">Advisering en ondersteuning bij effectieve en efficiente data verwerking.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>
        </div>
        <!-- End Serivces Row 1 -->

        <!-- Begin Services Row 2 -->
        <div class="row services-row services-row-tail services-row-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-flask fa-5x"></span></p>
                    <h4 class="services-title">Data science</h4>
                    <p class="services-body">Advisering en ondersteuning bij de analyse van complexe data.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-images fa-5x"></i></p>
                    <h4 class="services-title">Data visualisatie</h4>
                    <p class="services-body">Advisering en ondersteuning bij vertaling van data naar informatie middels visualisaties.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-chalkboard-teacher fa-5x"></i></p>
                    <h4 class="services-title">Training</h4>
                    <p class="services-body">Training op het gebied van management, verwerking, analyse en visualisatie van data.</p>
                    <!--<p class="services-more"><a href="#">Find Out More</a></p>-->
                </div>
            </div>
        </div>
        <!-- End Serivces Row 2 -->

    </div>
</section>
<!-- End #services-section -->